<nav class="app-nav">
    <div class="app-brand">
        <div class="app-brand-title">GoDutch SnelStart</div>
        <div class="app-brand-subtitle">Koppelingen & exports</div>
    </div>

    <div class="app-nav-section">
        <div class="app-nav-heading-dark">Overzicht</div>

        <NavLink class="app-nav-link" href="" Match="NavLinkMatch.All">
            <span class="app-nav-link-icon">🏠</span>
            <span>Start</span>
        </NavLink>

        <NavLink class="app-nav-link" href="notifications" Match="NavLinkMatch.Prefix">
            <span class="app-nav-link-icon">🔔</span>
            <span>Meldingen</span>
            <NotificationBadge />
        </NavLink>

        <NavLink class="app-nav-link" href="tenants/onboard" Match="NavLinkMatch.Prefix">
            <span class="app-nav-link-icon">➕</span>
            <span>Klant aanmelden</span>
        </NavLink>
    </div>

    <div class="app-nav-section">
        <div class="app-nav-heading-dark">GoDutch</div>

        <NavLink class="app-nav-link" href="bankaccounts" Match="NavLinkMatch.Prefix">
            <span class="app-nav-link-icon">🏦</span>
            <span>Bankaccounts</span>
        </NavLink>

        <NavLink class="app-nav-link" href="godutch/sync" Match="NavLinkMatch.Prefix">
            <span class="app-nav-link-icon">🔁</span>
            <span>Sync & instellingen</span>
        </NavLink>

        <NavLink class="app-nav-link" href="bankaccounts" Match="NavLinkMatch.Prefix">
            <span class="app-nav-link-icon">🔗</span>
            <span>SnelStart koppeling</span>
        </NavLink>
    </div>
</nav>
