@page "/"

<PageTitle>GoDutch SnelStart Portal</PageTitle>

<div class="container py-4">
    <div class="p-4 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-6">GoDutch SnelStart Portal</h1>
            <p class="lead">
                Beheer koppelingen, controleer synchronisaties en begeleid klanten stap voor stap door de onboarding.
            </p>
            <p>
                Deze portal is bedoeld voor onboarding, support en beheer van de automatische synchronisatie tussen GoDutch en SnelStart.
            </p>
            <a class="btn btn-primary" href="/bankaccounts">Naar bankaccounts</a>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Onboarding</h5>
                    <p class="card-text">
                        Begeleid nieuwe klanten bij het invoeren van instellingen en het testen van koppelingen.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Synchronisatie</h5>
                    <p class="card-text">
                        Bekijk per bankaccount de laatste synchronisatiestatus en voer indien nodig een resync uit.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Support</h5>
                    <p class="card-text">
                        Gebruik duidelijke statusinformatie en foutmeldingen voor testen, support en certificering.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>